div.notification {
    position: fixed;
    bottom: 50px;
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    text-shadow: 0 0 5px #000000;
}

.ng-hide {
    transition:1s linear all;
    opacity:0;
}

.ng-hide-remove {
    transition:1s linear all;
    opacity:1;
}

.time, .date {
    position: fixed;
    right: 40px;
    color: white;
}

.time {
    top: 40px;
    font-size: 62pt;
}

.date {
    top: 30px;
    font-size: x-large;
}